@media screen and (min-width:1000px){
    body {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    iframe {
        display: inline;
    }
    .yout{
        display: none;
    }
}
@media screen and (max-width:999px){
    iframe {
        display: none;
    }
    .yout{
        display: inline;
    }
}

body {
    display: none;
    padding: 30px;
    text-align: center;
}

a.btn {
    margin: 20px;
}