.yukimi-setting-wrapper {
  background-color: white;

  position: sticky;
  top: 0;

  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);

  // margin-bottom: 15px;
}

.yukimi-setting {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 750px;
  margin: 0 auto;

  font-size: 200%;
}

.yukimi-panel {
  width: 550px;
  margin: 0 auto;
}

@media screen and (max-width: 750px){
  .yukimi-setting {
    width: 100vw;
  }

  .yukimi-panel {
    width: 100vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.yukimi-content {
  margin: 0 auto;
  width: 900px;
  padding-top: 10px;
}

@media screen and (max-width: 900px){
  .yukimi-content {
    width: 100vw;
    padding: 10px;
  }
}

.yukimi-buttons {
  display: flex;
  justify-content: space-around;
}

.yukimi-theme-showcase {
  display: flex;
  flex-wrap: wrap;
}

.yukimi-theme {
  border-radius: 1em;
  height: 120px;
  width: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
}

.yukimi-theme-normal {
  border: 1px solid black;
  background-color: white;
  color: black;
}

.yukimi-theme-night {
  border: 1px solid white;
  background-color: black;
  color: white;
}

p {
  line-height: 2em;
  margin-bottom: 2em;
  text-indent: 2em;
}

h2 {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 3em;
}
